<div class="card">
    <img card-img-top src="https://picsum.photos/200/100" alt="image photo">
    <div class="card-body">
        <h5 class="card-title">title</h5>
        <p> content </p>
        <a type="button" class="btn btn-primary" href="#">open</a>
    </div>
</div>
<br>
<hr>
<div class="card">
    <div class="card-header">
        Menu
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            <a type="button" class="btn btn-primary" href="/task31" alt="task31">
                Task 3.1 page</a>
        </li>
        <li class="list-group-item">
            <a type="button" class="btn btn-primary" href="/task21" alt="task21">
                Task 2.1 page</a>
        </li>
        <li class="list-group-item">
            <a type="button" class="btn btn-primary" href="/task22" alt="task22">
                Task 2.2 page</a>
        </li>
    </ul>

    <div class="card-footer">
        footer:
        <button class="btn btn-outline-primary btn-sm"> update list
        </button>
    </div>
</div>