{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<main>
    <h1>{{title}}</h1>
    <p class="py-5">
        There are my web applications developed utilizing Bootstrap framework
    </p>
    {{#each navigation}}
    <div class="pb-3 d-grid gap-2 col-2">
        <a type="button" class="btn btn-primary" href={{link}}>{{text}}</a>
    </div>
    {{/each}}
</main>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}