<main>
    <header class="text-center">
        <h1>Program</h1>
        {{#with program}}
        {{>title data='Excursion' big=true }}
        {{#with excursion}}
        {{>title data=name}}
        {{>address }}
        <div class="py-3">
            {{>date data=date}}
        </div>
    </header>
    <hr>
    <div>
        <div class="text-center">
            {{>title data='Program'}}
        </div>

        <div class="row">
            {{#each program}}
            <div class="col-6  ">
                <div class="card me-1">
                    <div class="card-body">
                        <ul>
                            <li>
                                {{>title data=name}}
                                <div>
                                    Topic: {{type}}
                                </div>
                                <div>
                                    Duration:
                                    <time>
                                        {{duration}}
                                    </time>
                                    hours
                                </div>
                                <div class="py-3">
                                    <b>Details:</b>
                                </div>
                                <div>
                                    {{#with details}}
                                    {{>museum mus=true}}
                                    {{>museum mus=false}}
                                    {{/with}}
                                    {{>guide data=details.guide}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

    </div>
    </div>
    {{/with}}
    {{/with}}
</main>