<main>
    {{#with main}}
    <div>
        {{>title data=sammary.title big=true}}
        <p>
            {{sammary.text}}
        </p>
    </div>
    {{#with experience}}
    <div>
        {{>title data=title big=false}}
        <p>
            {{text}}
        </p>
    </div>
    {{/with}}
    {{/with}}
</main>