<main>
    <h1>IT Languages: what you need to know</h1>
    {{#with web}}
    <ul>
        {{#each languages}}
        <li>
            <em>
                {{>title data=name big=true}}
            </em>
            <div>
                <i>
                    Version: {{version}}
                </i>
            </div>
            <p>
                {{description}}
            </p>
            <div>
                {{#if elements}}
                {{>title data="Elements:" }}
                <div class="pt-3">
                    <ul>
                        {{#each elements}}
                        <li>
                            {{>attr }}
                            <div>
                                Attributes:
                            </div>
                            <ul>
                                {{#each attributes}}
                                <li>
                                    {{>attr }}
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
            </div>
            <div>
                {{#if properties}}
                {{>title data="Properties:" }}
                <div class="pt-3">
                    <ul>
                        {{#each properties}}
                        <li>
                            {{>attr }}
                            <div>
                                Values:
                            </div>
                            <ul>
                                {{#each values}}
                                <li>
                                    {{>attr name=value }}
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
            </div>
            <div>
                {{#if functions}}
                {{>title data="Functions:" }}
                <div>
                    <ul>
                        {{#each functions}}
                        <li>
                            {{>attr }}
                            <div class="pb-3">
                                Parameters:
                            </div>
                            <ul>
                                {{#each parameters}}
                                <li>
                                    {{>attr }}
                                    <div class="pb-3">
                                        Type: {{type}}
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
            </div>
        </li>
        <hr>
        {{/each}}
    </ul>
    {{/with}}
</main>