<div>
    <address class="mb-0">
        Address:
        {{#with location}}
        {{#if address}}
        {{address}},
        {{/if}}
        {{city}}, {{country}}
        {{/with}}
    </address>
</div>