<ul>
    {{#each data}}
    <li>
        <strong>
            {{title}}
        </strong>
        (<date>
            {{year}}
        </date>)
        <p>
            {{description}}
        </p>
    </li>
    {{/each}}
</ul>