{{#with footer}}
<div>
    {{#with social}}
    {{>link href=email.href text=email.text blank=true }}
    {{>link href=phone.href text=phone.text blank=true }}
    {{>link href=linkedin.href text=linkedin.text blank=true noLine=true}}
    {{/with}}
</div>
<div class="py-3">
    <em>Copiright by {{../header/name/firstname}} {{../header/name/lastname}}</em>
</div>
<div>
    <address>
        Address: {{../header/address}}
    </address>
</div>
{{/with}}