<div>
    {{#with data}}
    <div>
        <b>Your guide: {{name}}</b>
    </div>
    <div>
        Language: {{language}}
    </div>
    <div>
        Rate: {{rating}}
    </div>
    {{/with}}
</div>