<div>
    <div>
        {{name}}
    </div>
    <div>
        Position: {{title}}
    </div>
    <div>
        {{#if email}}
        <div>
            E-mail:
            <email>
                {{email}}
            </email>
        </div>
        {{else}}
        {{/if}}
    </div>
</div>