{{#with data}}
<div class="col-6 mb-3">
    <label class="form-label">{{label}}</label>
    <input class="form-control" placeholder={{placeholder}}>
    <div class="form-text">
        {{caption}}
    </div>
</div>
{{/with}}